include include_datatable.pug
include mixin_actionfriend.pug

include function_calcCoeficient.pug


mixin Usertable(suggestion, infosys, usersId, ownUser)

    script.
        $(document).ready(function() {
            $('#usertable').DataTable( {
                "language": {
                "emptyTable": "No users"
                },
                "ordering": true,
                "paging": false,
            });
        });

    .default-table-wrapper
        table#usertable.default-table
            thead
                tr
                    th Name
                    th Alias
                    if (suggestion)
                        th Rating
                    - for (var i = 0; i < infosys.categories.length; i++)
                        th #{infosys.categories[i]} Coeficient
                    th Action
            tbody
                - for (var i = 0; i < usersId.length; i++)
                    tr
                        td
                            a(href='/user/'+ usersId[i], id="userhref"+i) #{infosys.usernames[usersId[i]]}
                        td
                            | Alias
                        if (suggestion)
                            td
                                | #{suggestion.userRating[usersId[i]]}
                        - for (var j = 0; j < infosys.categories.length; j++)
                            td
                                if ((ownUser.correlation[usersId[i]]) && (ownUser.correlation[usersId[i]][infosys.categories[j]]))
                                    | #{CalcCoeficient(ownUser.correlation[usersId[i]][infosys.categories[j]])}
                                else
                                    | #
                        td
                            +ActionFriend(i, usersId[i], ownUser)
                