extends layout/out

block content
    .default-wrapper
        h1 Forgot Password?
        form(action='/forgot_password', method='post')
            .input-group.form-group
                .input-group-prepend
                    .input-group-text Local Email
                input(type='text', name='email', class = 'form-control', required)
            button.form-group(type="submit" class="btn btn-primary") Reset password
        a(href="/") Go back to initial page!
    