extends layout/in

block content
    .default-wrapper
        h1 Friends
        - for(var i = 0; i < user.length; i++){
            form.form-inline(action="/remove_friend", method="post")
                a(href='/user/' + user[i]._id) #{user[i].username}
                input(type='hidden', name='target_id', value=user[i]._id)
                input(type='hidden', name='adress', value='/friendlist')
                button.btn.btn-primary(type="submit", style="margin-left: auto") Remove
        -}