extends layout

block content
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        .default-wrapper
                h1.form-group Sign up or log in
                //<a href="/login" class="btn btn-primary button-margin"><span class="fa fa-user"></span> Local Login</a>
                //<a href="/signup" class="btn btn-primary button-margin"><span class="fa fa-user"></span> Local Signup</a>
                //<a href="/auth/google" class="btn btn-danger button-margin"><span class="fab fa-google-plus-g"></span> Google</a>
                a(href="/login", class="btn btn-primary button-margin")
                        span.fa.fa-user 
                        | #{""} Local Log in
                a(href="/signup", class="btn btn-primary button-margin")
                        span.fa.fa-user 
                        | #{""} Local Sign up
                a(href="/auth/google", class="btn btn-danger button-margin")
                        span.fab.fa-google-plus-g
                        | #{""} Google
                