doctype html
html
	head
		title= title
		
		include include_import.pug
		
	-if ( message != undefined && message.length){
		.center
			if ( message.toString().charAt(0) == '!')
				div.alert.alert-danger #{message.toString().slice(1)}
			else
				div.alert.alert-success #{message}
	-}
	block content


