doctype html
html
	head
		title= title
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		//script(src='/scripts/bootstrap.min.js')
		//link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	-if ( message != undefined && message.length){
		div.container(style="margin-top:30px")
			div.row
				center
					if ( message.toString().charAt(0) == '!')
						div.alert.alert-danger #{message.toString().slice(1)}
					else
						div.alert.alert-success #{message}
	-}
	block content


