link(rel='stylesheet', href='/stylesheets/hover.css')

script.
    $(function() {
        var mobileScreenTreshold = 1024;
        $(".hvrbox").click(function(e) {
            if($(window).width() <= mobileScreenTreshold) {
                if($(this).hasClass("active")) {
                    $(this).removeClass("active");
                } else {
                    e.preventDefault();
                    $(this).addClass("active");
                }
            } else {
                $(this).removeClass("active");
            }
        });
    });


mixin RatingToColor(rating)
    // 10 = 0, init, 0
    // 10-X = 0, Y, 0
    // 5  = 255, 255, 255
    // X = Y, 0, 0
    // 0  = init, 0, 0
    - var init = 60;
    - var x = 2.5;
    - var r = 0;
    - var g = 0; 
    - var b = 0;

    if (rating >= (10-x))
        -r = 0
        -g = (10-rating)*(255-init)/5 + init
        -b = 0

    else if (rating >= 5)

        -r = ((10-x)-rating)*(255)/(5-x)
        -g = (10-rating)*(255-init)/5 + init
        -b = ((10-x)-rating)*(255)/(5-x)

    else if (rating >= x)

        -r = (rating)*(255-init)/5 + init
        -g = (rating-x)*(255)/(5-x)
        -b = (rating-x)*(255)/(5-x)

    else
        
        -r = (rating)*(255-init)/5 + init
        -g = 0
        -b = 0
    

    -var rgb = "rgb("+r+","+g+","+b+")"
    
    .hvrbox
        button.btn(style="background-color:"+rgb+"; padding: 25px; border-radius:8px")
        .hvrbox-layer_top
            .hvrbox-text #{rating}