mixin Bookmark(suggestionId, i, bookmark)
    -var option = "far fa-bookmark"
    if (bookmark.indexOf(suggestionId) != -1)
        - option = "fas fa-bookmark"
    button.btn(class=option, value=i, onclick="ActionBookmark(this)")


script.
    function ActionBookmark(index){
        var target_id = document.getElementById("suggestionid"+index.value);        
        $.post("/action_bookmark",{target_id:target_id.value}, function(data){
            $(index).removeClass("far fas").addClass(data.option)
        });
    }