extends layout

block content
    .default-wrapper
        h1 Profile
    .default-wrapper
        form(action='/profile/change', method='post')
            .input-group.form-group
                .input-group-prepend
                    .input-group-text Username
                input(type='text', name='username', value=user.username, class = 'form-control', required)
            input(type='hidden', name='id', value=user._id)
            button.form-group(type="submit" class="btn btn-primary btn-lg") Change Username
    .default-wrapper
        form(action='/profile/delete', method='post')
            .input-group.form-group
                .input-group-prepend
                    .input-group-text Username
                input(type='text', name='username', placeholder=user.username, class = 'form-control', required)
            input(type='hidden', name='id', value=user._id)
            button.form-group(type="submit" class="btn btn-danger btn-lg") Delete user
    .default-wrapper
        form(action='/profile/friends', method='post')
            .input-group.form-group
                .input-group-prepend
                    .input-group-text Username or Email
                input(type='text', name='name', class = 'form-control', required)
            button.form-group(type="submit" class="btn btn-primary btn-lg") Search Users
        -if (users){
            | TESTE
        -}
    
            
