extends layout/in

block content

    include mixin/suggestionTable
    +Suggestiontable(undefined, suggestion, infoIcon, infoUsername, ownUser)

    if (showCreateSuggestion)
        include mixin/createSuggestion
        +CreateSuggestion(infoCategory, infoIcon)