extends layout_in

block content

    include mixin_rating.pug

    include mixin_usertable.pug

    .default-wrapper
        h1 #{suggestion.name}

        | Friends: 
        +Rating(true, suggestion, ownUser)
        br
        | All users: 
        +Rating(false, suggestion, ownUser)


    -var usersId = []
    - for (var id in suggestion.userRating){
        if (suggestion.userRating.hasOwnProperty(id))
            -usersId.push(id)
    - }

    +Usertable(suggestion, infosys, usersId, ownUser)