extends layout_in


block content
	//script(src="/scripts/function.js")
	include function.pug
	//- var banana = "10"
	//- function foo(banana) {
	//-	if(banana==10){
	//-	return 5
	//-}
	//- else return 11
	//-}
	//- banana = foo(banana)
	- var teste = 10;
	- teste = foo(teste);
	p #{teste.toFixed(2)}





