extends layout_in

block content
    
    .default-wrapper
        h1 #{user.name}
        if (option != "")
            -for (var key in user.correlation) {
                if (user.correlation.hasOwnProperty(key))
                    .form-inline
                        span #{key}
                        span(style="margin-left: auto") Sum: #{user.correlation[key].ratingSum}
                        span(style="margin-left: auto") Count: #{user.correlation[key].ratingCount}
            -}
            br

            include mixin_actionfriend.pug
            +ActionFriend(0, user._id, option)

    include mixin_suggestiontable.pug
    +Suggestiontable(true, suggestion, infosys, user, ownId, bookmark)
    