
link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")