body {
	height: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	padding-top:0px;
	background-color:#99CCFF
}

input {
    text-align:center;
}

h1 {
	margin-bottom: 20px;
}

.btn-group+.btn-group{
    margin-left: -5px;
}

.body-background {
    background-color:#99CCFF;
    background-size: 100%;
}

.menu-bar{
	border: 2px solid #3333ff;
	position: relative;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	background-color: #e7e9ff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
	overflow: auto;
}

.default-wrapper{
	border: 2px solid #3333ff;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	width: 40%;
	height: 100%;
	padding: 20px 20px 20px 20px;
	background-color: #e7e9ff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
	overflow: auto;
}

.default-table-wrapper{
	border: 2px solid #3333ff;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	width: 95%;
	height: 100%;
	padding: 20px 20px 20px 20px;
	background-color: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
	overflow: auto;
}

#default-table{
	width: 100%;
}

#default-table th, #default-table td{
	text-align: center;
	font-size: 12px;
}

#default-table2 th, #default-table2 td{
	text-align: center;
	font-size: 12px;
}

.default-table{
	width: 100%;
}

.default-table th, .default-table td{
	text-align: center;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}

.default-table2 th, .default-table2 td{
	text-align: right;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}

.margin{
	margin: 3px;
}

.button-margin{
	margin: 3px;
}

.vertical-bar{
	border-right: 1px solid rgb(148, 148, 148);
}

.horizontal-bar{
	border-bottom: 1px solid rgb(148, 148, 148);
}