script.
    function SelectCategory(index){
        ClearSpecificInfoFields()
        ClearUrlFields()
        AddSpecificInfoFields(index)
    }

    function AddSpecificInfoFields(index){
        var categories = $("#storedData").data("categories");
        var category = categories[index.value]

        for(info in category.specificInfo){
            if (info != "Type"){
                AddInputInSpecificInfoDiv(info, category.specificInfo[info].type)
            }
            else{
                var specificType = document.createElement("select")
                specificType.setAttribute("class", "form-control")
                specificType.setAttribute("id", info)
                specificType.setAttribute("style", "margin-left:auto")

                for (var i = 0; i < category.specificInfo[info].options.length; i++){
                    specificType.appendChild(AddOptionToSelect(category.specificInfo[info].options[i]))
                }
                index.parentNode.insertBefore(specificType, index.nextSibling)
            }
        }

        if (index.value == "Film"){

            /*var linkA = document.createElement("a")
            linkA.setAttribute("id", "linkA")
            linkA.setAttribute("hidden", true)
            linkA.setAttribute("target", "_blank")
            linkA.setAttribute("style", "margin-left:auto")
            linkA.setAttribute("class", "margin")
            linkA.innerText = "Unknown"
            index.parentNode.insertBefore(linkA, index.nextSibling)*/

            var verifyBtn = document.createElement("input")
            verifyBtn.setAttribute("type", "button")
            verifyBtn.setAttribute("class", "btn btn-success")
            verifyBtn.setAttribute("id", "verifyBtn")
            verifyBtn.setAttribute("style", "margin-left:auto")
            verifyBtn.setAttribute("value", "Verify IMDB")
            verifyBtn.setAttribute("onClick", "FillInfoFromOMDB(this)")
            index.parentNode.insertBefore(verifyBtn, index.nextSibling)

            
        }
    }

    function AddInputInSpecificInfoDiv(name, type){
        var specificField = document.createElement(type)
        specificField.setAttribute("class", "form-control")
        specificField.setAttribute("id", name)
        specificField.setAttribute("name", name)

        var divSpecificInfo = document.getElementById("SpecificInfoDiv")

        var divInputGroup = document.createElement("div")
        divInputGroup.setAttribute("class", "input-group form-group")
        var divPrepend = document.createElement("div")
        divPrepend.setAttribute("class", "input-group-prepend")
        var divText = document.createElement("div")
        divText.setAttribute("class", "input-group-text")
        divText.innerHTML = name
        divPrepend.appendChild(divText)
        divInputGroup.appendChild(divPrepend)
        divInputGroup.appendChild(specificField)
        divSpecificInfo.appendChild(divInputGroup)
    }

    function AddOptionToSelect(value){
        var option = document.createElement("option")
        option.value = value
        option.text = value
        return option
    }

    function ClearSpecificInfoFields(){
        var divSpecificInfo = document.getElementById("SpecificInfoDiv");

        while (divSpecificInfo.firstChild) {
            divSpecificInfo.removeChild(divSpecificInfo.firstChild);
        }

        var verifyBtn = document.getElementById("verifyBtn")
        if (verifyBtn){
            verifyBtn.parentNode.removeChild(verifyBtn)
        }

        var selectType = document.getElementById("Type")
        if (selectType){
            selectType.parentNode.removeChild(selectType)
        }
    }

    function ClearUrlFields(){
        var addLinkDiv = document.getElementById("LinkDiv")
        while (addLinkDiv.firstChild) {
            addLinkDiv.removeChild(addLinkDiv.firstChild);
        }
        AddLink()
    }

    function FillInfoFromOMDB(){
        var suggestionName = document.getElementById("suggestionName")

        var categories = $("#storedData").data("categories");

        var selectedCategory = document.getElementById("selectCategory").value

        var category = categories[selectedCategory]

        $.get("https://www.omdbapi.com/?t="+suggestionName.value+"&apikey=d9916e3d", {}, function(data){
            console.log(data)
            if (!data.Error){

                suggestionName.value = data.Title

                for(info in category.specificInfo){
                    var field = document.getElementById(info)
                    field.value = data[info]
                }

                var urlTextField = document.getElementsByName("url")
                for (var i = 0; i < urlTextField.length; i++){
                    if (urlTextField[i].value == "" || urlTextField[i].value.includes("imdb")){
                        urlTextField[i].value = "https://www.imdb.com/title/" + data.imdbID + "/";
                        i = urlTextField.length
                    }
                }

                window.open("https://www.imdb.com/title/" + data.imdbID + "/")

                /*var linkA = document.getElementById("linkA")
                linkA.removeAttribute("hidden")
                linkA.setAttribute("href", "https://www.imdb.com/title/" + data.imdbID + "/")
                linkA.innerText = "IMDB Link"*/
                

            }

            else {
                alert("Error! Film does not exist!")
            }
        });
    }

    function CreateJSONExtraInfo(category){

        var categories = $("#storedData").data("categories");
        var extraInfo = {};

        for (info in categories[category].specificInfo){
            extraInfo[info] = document.getElementById(info).value
        }

        console.log(extraInfo)
        return extraInfo;
    }

    function CreateJSONTag(category){
        var categories = $("#storedData").data("categories");
        var tag = [];

        for (info in categories[category].specificInfo){
            if (categories[category].specificInfo[info].addTag == true){
                var string = document.getElementById(info).value
                var split = string.split(/[,\s]+/)
                for (var i = 0; i < split.length;i++){
                    tag.push(split[i])
                }
            }
        }

        if (document.getElementById("suggestionTag")){
            document.getElementById("suggestionTag").innerHTML = tag
        }

        return tag;
    }

    function urlToLinkJSON(urlName){

        var urlField = document.getElementsByName(urlName)
        var link = {}

        for (var i = 0; i < urlField.length; i++){
            if (urlField[i].value){
                var url = urlField[i].value
                var a = document.createElement("a")
                if (url.indexOf("//") == -1){
                    url = "//"+url
                }
                a.href = url;
                link[HostnameToIcon(a.hostname, i)] = url
            }
        }

        return link;
    }

    function HostnameToIcon(hostname, index){
        var icons = $("#storedData").data("icons");
        for (var icon in icons){
            for (var i = 0; i < icons[icon].hostname.length; i++){
                if (hostname.indexOf(icons[icon].hostname[i]) != -1){
                    return icon+index
                }
            }
        }
        return "Unknown"+index
    }
