script.
    function RatingToBorderRadius(rating){
        if (rating == '#'){
            return "0"
        }
        return 25
        var value = rating*2.5
        //var value = Number(Number(15)+Number(rating))*Number(rating)/Number(10)
        return value
    }