script.
    function RatingToRGB(rating){
        /*
        10 = 0, init, 0
        10-X = 0, Y, 0
        5  = 255, 255, 255
        X = Y, 0, 0
        0  = init, 0, 0
        */

        if (rating == '#'){
            return "rgb(200,200,200)"
        }

        var init = 60;
        var x = 2.5;
        var r = 0;
        var g = 0; 
        var b = 0;

        if (rating >= (10-x)){
            r = 0
            g = (10-rating)*(255-init)/5 + init
            b = 0
        }else if (rating >= 5){
            r = ((10-x)-rating)*(255)/(5-x)
            g = (10-rating)*(255-init)/5 + init
            b = ((10-x)-rating)*(255)/(5-x)
        }else if (rating >= x){
            r = (rating)*(255-init)/5 + init
            g = (rating-x)*(255)/(5-x)
            b = (rating-x)*(255)/(5-x)
        }else{
            r = (rating)*(255-init)/5 + init
            g = 0
            b = 0
        }
            
        return "rgb("+r+","+g+","+b+")"
    }